<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ome</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" alt="logo">
                <h2>Talk to stranger</h2>
                <div class="online-status">5000+ live now</div>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-container">

            <form action="/username" method="POST">
                <div>
                    <label for="username">username: </label>
                    <br>
                    <input type="text" name="username" id="username" required>
                </div>

                <div style="margin-top: 10px;">
                    <label for="remoteusername">remote username: </label>
                    <br>
                    <input type="text" name="remoteusername" id="remoteusername">
                </div>

                <div style="margin-top: 10px;">
                    <input type="submit" value="Submit">
                </div>

            </form>


        </div>

    </main>
</body>

</html>