<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ome</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <img class="logo" alt="logo">
                <h2>Talk to stranger</h2>
                <div class="online-status">5000+ live now</div>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-container">



            <h2 class="monitored-text">video is monitored keep it clean</h2>
            <div class="action-container">
                <p class="start-chat">Start Chatting</p>
                <div class="button-container">
                    <button class="action-button" id="video-chat-btn">
                        <a href="/video_chat?username=<%= user %>&remoteuser=<%= ruser %>">Video Chat</a>
                    </button>
                </div>
            </div>


        </div>
    </main>
</body>

</html>